// custom.scss

// Define your variable overrides here
$enable-shadows: true;
$enable-gradients: true;
$grid-breakpoints: (
        xs: 0,
        sm: 428px,
        md: 799px,
        lg: 899px,
        xl: 1234px,
        xxl: 1600px
);

//$custom-background: #ECECEC;
//$custom-background-dark: #cbcbcb;
//$custom-main: #90CCF4;
//$custom-main-dark: #5DA2D5;
//$custom-error: #F78888;
//$custom-warn: #F3D250;
//$custom-success: #00887A;


$custom-background: #374785;
$custom-background-dark: #fafff3;
$custom-main: #e6c3de;
$custom-main-dark: #8e4f87;
$custom-error: #F76C6C;
$custom-warn: #F8E9A1;
$custom-success: #00887A;
$text-dark: #4b1444;

$theme-colors: (
  "primary": $custom-main-dark,
  "danger": $custom-error,
  "secondary": $custom-main,
  "success": $custom-success,
  //"info": $cyan,
  "warning": $custom-warn,
  "light": #ECECEC,
  "dark": $custom-background-dark
)!default;

html *{
  font-family: ff-tisa-sans-web-pro, sans-serif !important;
  font-style: normal;
  font-weight: 100;
}

.navbar__img{
  height: 60px;
  width: auto;
}

.icon--purple{
  background-color: #4b1444;
}

.navbar--purple{
  background-color: $custom-background-dark;
  color: $text-dark;
}
// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';